// Stolen from my website.

# {
	width: 720 px;
}

/*#forms-register {
	display: none;
}

#forms-login {
	display: none;
}*/

a {	
	cursor: pointer;
	color: whitesmoke;
	text-decoration: none;
}
h1 {
	font-weight: 400;
}
h2 {
	font-weight: 400;
}
somecode {
	font-size: 75%;
}
body {
	max-width:720px;
	padding-top: 4em;
	padding-left: 11em;
	font-family: "Helvetica";
	color: grey;
	background-color: #B6C5BE;
}

li {
    list-style-type: none;
}

div.subsystem {
	background: darkgrey;
	height: 400px;
	text-align: center;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.subsection {
	display: block;
	background: grey; // need columns if possible
	text-align: center;
	margin-bottom: 10px;
	padding-left: 5px; 
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.sidesection {
	background: darkgrey;
	color: white;
	float: left;
	margin-left: 10px;
	display: block;
}

div.mainsection {
	float: left;
	margin-left: 10px;
	display: block;
}

div.subsubsection {
	background: lightgrey;
	text-align: left;
	float: bottom;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
}

div.subsystem, h2 {
	color: white;
}

div.actionbar {
	background: #DC143C;
	height: 30px;
	color: white;
	text-align: center;
}

button.link {
	background: none;
	border: none;
	color: grey;
}

footer {
	padding-top: 10px;
	font-size: 12;
	position: absolute;
    bottom: 0;
    height: 100px;
	
}