// Stolen from my website.

# {
	width: 800 px;
}

a {	
	cursor: pointer;
	color: whitesmoke;
	text-decoration: none;
}
h1 {
	font-weight: 400;
}
h2 {
	font-weight: 400;
}
somecode {
	font-size: 75%;
}
body {
	max-width:600px;
	padding-top: 4em;
	padding-left: 11em;
	font-family: "Helvetica";
	color: grey;
	background-color: #B6C5BE;
}

li {
    list-style-type: none;
}

div.subsystem {
	background: darkgrey;
	height: 400px;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.subsection {
	background: grey; // need columns if possible
	text-align: center;
	float-bottom;
	margin-bottom: 20px;
	padding-left: 2em; 
	padding-right: 2em;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.subsubsection {
	background: lightgrey;
	text-align: left;
	float: bottom;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
}

div.subsystem, h2 {
	color: white;
}

button.link {
	background: none;
	border: none;
	color: grey;
}

footer {
	font-size: 12;
	position:absolute;
    bottom:0;
    height:100px;
}